#logging:
#  level:
#    org.springframework.security: trace
server:
  port: 9000
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min: 5
spring:
  application:
    name: auth-service
  lifecycle:
    timeout-per-shutdown-phase: 15s
  config:
    import: "optional:configserver:"
  cloud:
    config:
      uri: "http://localhost:9001"
      request-connect-timeout: 5000
      request-read-timeout: 5000
      fail-fast: false
      retry:
        max-attempts: 5
        initial-interval: 1000
        max-interval: 2000
        multiplier: 1.1
jwk:
  persistence:
    encrypt:
      password: secret-pass
      salt: 123512



app:
  client:
    registration:
      client-id: app-service
      client-secret: "{bcrypt}$2a$10$rCZ9Cya8qoHLOKlOr7OTRetlW9GHxRgIC8B33vI/BTelUF81Vz7SG"
      redirect-uri: "${APP-SERVICE_CLIENT_REDIRECT-URI:http://127.0.0.1:8080/login/oauth2/code/myauth}"
  users:
      - username: ashok
        password: "{noop}1234"
        roles: 
          - USER
      - username: admin
        password: "{bcrypt}$2a$10$iSRhqIhA95xls5HbYFKFyOxcUuiIOEQUW4MBJHO.LiSQlzUvA3x/W"
        roles: 
          - ADMIN
          - USER